

.review-card{
    border: 1px solid #E5AF56;
    border-radius: 8px 0px 8px 8px;
}

.review-card-radius{
    border-right: 9px solid #347897;
    border-top: 9px solid #347897;
    border-top-left-radius: 25px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 15px;
}
